<div class="modal-header">
    <h1>Create new Employee</h1>
</div>

<div class="modal-body">

    <form role="form" class="form-horizontal">

        <fieldset>
            <legend>Basic Information</legend>
            <div class="form-group">
                <label for="fullName" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9">
                    <input type="text" id="fullName" name="fulName" value="" class="form-control" data-ng-model="editableEmployee.fullName" />
                </div>
            </div>

            <div class="form-group">
                <label for="notes" class="col-sm-3 control-label">Notes</label>
                <div class="col-sm-9">
                    <textarea name="notes" id="notes" cols="5" rows="5" class="form-control" data-ng-model="editableEmployee.notes"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="department" class="col-sm-3 control-label">Department</label>
                <div class="col-sm-9">
                    <select class="form-control" name="department" id="department"
                        data-ng-model="editableEmployee.department"
                        data-ng-options="dept for dept in departments">
                    </select>
                </div>
            </div>
        </fieldset>

        <br />

        <fieldset>
            <legend>Perks</legend>

            <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="perkCar" data-ng-model="editableEmployee.perkCar" />Company Car</label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="perkStock" data-ng-model="editableEmployee.perkStock" />Stock Options</label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="perkSixWeeks" data-ng-model="editableEmployee.perkSixWeeks" />Six Weeks Vacation</label>
                </div>
            </div>
        </fieldset>

        <br />

        <fieldset>
            <legend>Payroll Type</legend>

            <div class="col-sm-offset-3 col-sm-9">
                <div class="radio">
                    <label>
                        <input type="radio" name="payrollType" value="w2" data-ng-model="editableEmployee.payrollType" />
                        W-2</label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="payrollType" value="ten99" data-ng-model="editableEmployee.payrollType" />
                        1099</label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="payrollType" value="none" data-ng-model="editableEmployee.payrollType" />
                        None</label>
                </div>
            </div>
        </fieldset>

        <br />
    </form>

</div>

<div class="modal-footer">
    <div class="col-sm-offset-3 col-sm-9">
        <input type="button" value="Cancel" class="btn btn-default" data-ng-click="cancelForm()" />
        <input type="submit" class="btn btn-primary" value="Submit" data-ng-click="submitForm()" />
    </div>
</div>

